<div class="user-card">
	<div></div>
	<div class="profile-info-container">
		<%= link_to show_user_path(id: user.id) do %>
			<%= image_tag profile_pic(user), size: 72, class: 'profile-pic' %>
		<% end %>
		<div class="profile-names-container">
			<div><strong><%= link_to user.name, show_user_path(id: user.id) %></strong></div>
			<div class="text-muted"><%= link_to "@#{user.username}", show_user_path(id: user.id), class: 'text-muted' %></div>
		</div>
		
		
		<% if user == current_user %>
			<div class="profile-stats-container text-muted">
				<div>
					<p>Tweets</p>
					<%= current_user.tweets.count %>
				</div>
				
				<%= link_to following_path(id: current_user.id) do %>
					<p>Following</p>
					<%= current_user.following.length %>
				<% end %>

				<%= link_to followers_path(id: current_user.id) do %>
					<p>Followers</p>
					<%= get_users_followers(current_user) %>
				<% end %>
				
			</div>
		<% else %>
			<p><%= user.bio %></p>
		<% end %>
	</div>
</div>
